@tailwind base;
body {
  @apply h-screen font-montserrat;
}

h1 {
  @apply text-xl font-normal;
}

h2 {
  @apply text-lg font-semibold;
}

p {
  @apply text-base;
}

.btn {
  @apply font-patrick-hand;
}

.swiper-pagination-bullet-active {
  background-color: #2a5853 !important;
}

.swiper-pagination {
  z-index: 1 !important;
  margin-bottom: 44px !important;
  top: 16px !important;
  bottom: auto;
}

.btn-link {
  padding-left: 0 !important;
}

.coffee-range {
  writing-mode: vertical-rl;
}

.toggle-buttons.btn-group > .btn-active {
  @apply font-semibold bg-Secondary text-neutral border-Secondary;
}

.rounded-full {
  border-radius: 9999px;
}

.pie-chart {
  @apply absolute w-12 h-12 transition-all rounded-full -left-1 -top-1 -z-10;
  transition: background 0.3s ease;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

@tailwind components;
@tailwind utilities;
