@tailwind base;
body {
  @apply min-h-screen font-montserrat;
}

h1 {
  @apply text-xl font-normal;
}

h2 {
  @apply text-lg font-semibold;
}

p {
  @apply text-base;
}

.btn {
  @apply font-patrick-hand;
}

.swiper-pagination-bullet-active {
  background-color: #2a5853 !important;
}

.swiper-pagination {
  z-index: 1 !important;
}

.btn-link {
  padding-left: 0 !important;
}

@tailwind components;
@tailwind utilities;
